.player-preview-arena {
  background: red;
  color: #fff;
  width: 40vh;
  height: 40vh;
  display: flex;
  flex-flow: row nowrap;

  &__row {

    &-ceil {
      background: #606060;
      border: 1px solid #fff;
      width: 4vh;
      height: 4vh;
      display: flex;
      justify-content: center;

      &--shot-missing {
        background-color: #909090;
      }

      &--ship-destroyed {
        background-color: red;
      }

      p {
        align-self: center;
      }
    }
  }
}