.enemy-arena {
  background: #101010;
  color: #fff;
  width: 80vh;
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;

  &__row {

    &-ceil {
      background: #606060;
      border: 1px solid #fff;
      width: 8vh;
      height: 8vh;
      display: flex;
      justify-content: center;

      &--shot-missing {
        background-color: #909090;
      }

      &--ship-destroyed {
        background-color: red;
      }

      p {
        align-self: center;
      }
    }
  }
}

.game-menu {
  h2 {
    color: #fff;
  }

  p {
    color: #fff;
    font-size: 24px;
  }
}

.player-arena {
  background: #101010;
  color: #fff;
  width: 40vh;
  height: 40vh;
  display: flex;
  flex-flow: row nowrap;

  &__row {

    &-ceil {
      background: #606060;
      border: 1px solid #fff;
      width: 4vh;
      height: 4vh;
      display: flex;
      justify-content: center;
      
      &--ship-placed {
        background-color: green;
      }

      &--shot-missing {
        background-color: #909090;
      }

      &--ship-destroyed {
        background-color: red;
      }

      p {
        align-self: center;
      }
    }
  }
}