.ships-selection-screen {
  background: #101010;
  color: #fff;
  width: 80vh;
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;

  &__row {

    &-ceil {
      background: #606060;
      border: 1px solid #fff;
      width: 8vh;
      height: 8vh;
      display: flex;
      justify-content: center;

      &--ship-placed {
        background-color: green;
      }

      p {
        align-self: center;
      }
    }
  }
}

.ships-selection-menu {
  button {
    cursor: pointer;
    width: 100px;
    height: 60px;
  }
}